body {
    /* background-color: rgb(116, 116, 116); */
    background-image: url(_img/tenor1.gif);
     /* background-repeat: no-repeat; */
    border-style: dotted; /* tipo de Borda*/ 
    border-color: gold; /* Cor da Borda */
    border-radius: 20px; /* Cuvatura da Borda*/
    padding: 20px 20px 20px 20px; /* Distancia da Borda*/
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-shadow: 0px 0px 5px rgb(5, 255, 68);
    text-align: center; /*Local do texto*/
}

h2 {
    text-align: center;
    color: white;
    text-shadow: 0px 0px 5px gold;
}

h3 {
    background-color: rgb(203, 255, 255);
}


img {
    display:block;
    margin:auto;
    background-color: rgb(36, 167, 255);
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 10px;

}


figcaption{
    color:gold;
}
/*
p0 {
    background-color: rgba(255, 0, 0, 0);
}
*/

p1 {
    background-color: rgb(94, 255, 0);
}


p2 {
    text-align: center;
    background-color: rgb(255, 255, 255);
}


a {
    
    background-color: rgb(36, 167, 255);
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 5px;

}