body {
    background-color: rgb(56, 56, 56);
    background-image: url(_img/smoke.jpg);
}
h1 {
    font-size: 50px;
    font-family: American Captain;
    text-align: center;
}

h2 {
    text-align: center;
}

img {
    display:block;
    margin: auto;
    background-color: hsla(0, 0%, 31%, 0.9);
    padding: 20px 20px 20px 20px;
}

a {
    font-size: 30px;
    background-color: orangered;
    border-style: solid;
    border-color: rgba(255, 68, 0, 0);
    border-radius: 5px;
}